body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color:black;
}
.contentcenter{
  display: flex;
  align-items: center;
}
.fontsizeinsingleproductpage{
  font-size:12px;
}
.btnstyle{
  width: 1.4rem;
  height:1.4rem;
  border-radius:50%;
  margin-left:.6rem;
  border:none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
}
.btnactive{
  opacity:1;
}
